[Desktop Entry]
Name=Simp
X-KDE-PluginInfo-Author=Speykious
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-EnabledByDefault=true
